body{
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(204,246,255,1) 100%, rgba(0,212,255,1) 100%);
}

header h1{
    background-color: #91B6D7;
    color:white;
    font-family: 'Satisfy', cursive;
    padding: .5em;

}

nav ul{
    list-style: none;
    margin:0px;
    padding:0px;
}

nav a{
    display: block;
    color: black; /*Todo Fix colors*/
    text-decoration: none;
    border: 1px solid black;
    padding:2em;
    text-align: center;
}